@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;700&family=Arimo:ital,wght@0,600;1,400&family=Montserrat:wght@400;600&family=Open+Sans:wght@400;600&family=PT+Sans:wght@400;700&family=Staatliches&display=swap');

// //tipografia

$fuente_principal: 'Montserrat', sans-serif;
$fuente_sec: 'Arimo', sans-serif;
$fuente_ter: 'Open Sans', sans-serif;

//Colores 
 
$gris: #37364C;
$gris-claro: #8D8995;
$gri: #EBEBEB;
$naranja: #E44D26;
$naranja-claro: #F38B42;
$negro: #000;
$blanco: #fff;

// tamanos de media Queries
$phone: 560px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;